/* UTILITY CSS CODE/ SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
    box-sizing: border-box;
}



.sr-only:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

img,
picture {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
}

:root {
    --header-color: #104910f5;
    --footer-color: #104910f5;
    --primary-color: #557c00;
    --secondary-color: #F8E8A1;
    --main-border-radius: 16px;
}

.sitePadding {
    padding: 4%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Header/Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    background-color: var(--header-color);
}

header.scrolled .siteHeader {
    padding: 0;
}

.siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.siteHeader__logo img {
    width: 40%;
    height: 40%;
}

.siteHeader #menu {
    display: none;
}

.siteHeader #menu ul {
    list-style-type: none;
    display: flex;
}

.siteHeader #menu.show {
    display: block;
    width: 100%;
}

.siteHeader #menu.show ul {
    display: block;
}

.siteHeader #menu.show ul li {
    text-align: right;
    padding: 1em;
}

.siteHeader #menu ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

#menu ul li a:is(:focus, :hover) {
    color: var(--secondary-color);
}

/* hamburger menu */
.siteHeader #menuToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.siteHeader #menuToggle svg .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.siteHeader #menuToggle svg:nth-child(1) {
    stroke-dasharray: 60 207;
}

.siteHeader #menuToggle.open svg:nth-child(1) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

/* scrolled menu */
.scrolled {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}

.hero-text {
    display: block;
    font-size: clamp(2.074rem, 8vw, 5.160rem);
    text-align: center;
    max-width: 1268px;
}

.hero-button {
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 30px;
    padding: 20px 30px;
    cursor: url('../assets/images/favicon.png'), pointer;
    border: 1px solid var(--primary-color);
}

.hero-button:hover {
    color: #fff;
    background-color: #628f00;
    transition: 0.5s all ease;
}

#heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url("../assets/images/hero_Image_Pear_mobileScreen.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10% 4%;
}

@media only screen and (min-width:900px) {
    #heroImage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url("../assets/images/hero_Image_Pear.webp");
    }
}

.add_borderRadius_heroImage {
    border-radius: 0px 0px 50% 50%;
    transition: all 3s ease;
}

@media only screen and (min-width:900px) {
    header {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        background-color: transparent;
    }

    .siteHeader #menu ul li a {
        display: inline-block;
        padding-left: 2em;
        font-size: 1.44rem;
    }

    .siteHeader {
        padding: 1% 4%;
    }

    .siteHeader #menuToggle {
        display: none;
    }

    .siteHeader #menu {
        display: flex;
    }

    header.scrolled .siteHeader {
        padding: 0 4%;
    }

    header.scrolled {
        background-color: var(--header-color);
    }

    header.scrolled .siteHeader__logo img {
        width: 60%;
        height: 60%;
    }

    header .siteHeader__logo img {
        width: 100%;
        height: 100%;
    }

    .siteWrapper {
        max-width: 1268px;
        margin: auto;
    }
}

/* INTRO
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main {}

.intro {
    text-align: center;
}

.intro h2 {
    font-weight: 700;
    font-size: 2.074rem;
    line-height: 120%;
}

.intro p {
    font-size: 1.2rem;
    line-height: 130%;
    text-align: left;
}

.viewMore {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 130%;
    text-decoration: underline;
    text-align: right;
    margin-bottom: 20px;
}

.viewMore a {
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    text-decoration-line: underline;
}

.viewMore a:is(:hover, :active) {
    color: var(--primary-color);
}

@media only screen and (min-width: 960px) {
    .intro {
        text-align: left;
    }

    .intro h2 {
        font-weight: 400;
        font-size: 3.583rem;
        line-height: 115%;
        letter-spacing: -0.02em;
    }

    .intro .leftColumn p,
    .intro .rightColumn p {
        font-style: normal;
        font-size: 1.2rem;
        line-height: 150%;
    }

    .articleContainer {
        display: flex;
        gap: 30px;
    }

    .articleContainer .leftColumn {
        flex: 1 1 619px;
    }

    .articleContainer .rightColumn {
        flex: 1 1 619px;
    }

    .articleContainer .viewMore {}

}

/* BLOG
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blog {
    text-align: center;
}

.blog__top {
    text-align: center;
}

.blog__top h2 {
    font-weight: 700;
    font-size: 2.074rem;
}

.blog__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
}

.card {
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: .2s all ease-in;
}

.card a {
    text-decoration: none;
    color: black;
}

.blog__cards .card article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -0.02em;
}

.card article {
    padding: 1em;
}

.blog__card-article p {
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.card .blog__card-date {
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}


@media only screen and (min-width: 650px) {
    .blog {
        text-align: left;
    }

    .blog__cards {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        border-radius: var(--main-border-radius);
        border: 1px solid rgba(128, 128, 128, 0.411);
    }

    .card img {
        border-radius: 16px 16px 0 0;
    }

    .card a:is(:hover, :active) {
        color: var(--primary-color);
    }

}

@media only screen and (min-width: 960px) {
    .blogWapper {
        max-width: 1268px;
        margin: auto;
    }

    .blog {

        text-align: left;
    }

    .blog__cards {
        grid-template-columns: repeat(3, 1fr);
    }



    .blog__top {
        display: flex;
        justify-content: space-between;
        padding: 2% 0;
    }

    .blog__heading h2 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 130%;
    }
}

/* SOCIAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.social {
    text-align: center;
}

.grid-Container {
    display: grid;
    gap: 30px;
    grid-template-rows: auto auto 1fr;
    color: white;

}

.grid-Container .grid-box img {
    display: none;
}

.grid-Container .grid3 {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0;
    padding: 1em;
}

.grid-Container .grid3 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.074rem;
    font-weight: 500;
    line-height: 130%;
}

.grid-Container .grid3 p {
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.grid-Container .grid3 a {
    color: white;
}

.grid-Container .grid3 a:hover {
    color: rgb(211, 211, 211);
}

.grid-Container .grid3 a:active {
    color: #426100;
}

@media only screen and (min-width: 500px) {

    .grid-Container {
        grid-template-columns: 40% auto auto;
        grid-template-rows: auto auto 1fr;
    }

    .grid-Container .grid-box img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .grid-box img {
        border-radius: var(--main-border-radius);
    }

    .grid1 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .grid2 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid3 {
        grid-column: span 3;
        grid-row: span 1;
    }
}

@media only screen and (min-width: 960px) {
    .social {
        text-align: left;
    }

    .grid-Container .grid3 h2 {
        margin: 0;
        font-size: 3.583rem;
        width: 56%;
    }

    .grid-Container .grid3 p {
        max-width: 25em;
    }

    .grid-Container .grid3 {
        background-color: var(--primary-color);
        padding: 72px 75px;
        border-radius: var(--main-border-radius);

    }
}

/* SUBSCRIPTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.subscribe {
    text-align: center;
}

.subscribe p {
    font-weight: 500;
    font-size: 1.44rem;
    line-height: 130%;
}

.subscribe__form {
    margin-top: 3em;
}

.subscribe__form .email {
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    padding: 8px 9px;
}

.subscribe__form .email::placeholder {
    font-weight: 700;
    font-size: 0.833rem;
    line-height: 130%;
    color: #000;
}

.subscribe__form .subscribeBtn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 26.25px;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.subscribe__form .subscribeBtn:hover {
    color: #fff;
    background-color: #628f00;
    transition: 0.5s all ease;
}

.subscribe__form .subscribeBtn:active {
    background-color: #233300;
    color: #aeff00;
}

@media only screen and (min-width: 960px) {
    .subscribe {
        text-align: left;
    }

    .subscribe p {
        margin: 0;
        font-weight: 500;
        font-size: 2.986rem;
        line-height: 130%;

    }

    .subscribe__form .email {
        padding: 16px 19px;
    }

    .subscribe__form .email::placeholder {}

    .subscribe__form .subscribeBtn {
        padding: 16px 32px;
        margin-left: 30px;
    }
}



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    background-color: var(--footer-color);
    margin-top: 100px;
    padding: 2%;
}

.footer {
    min-height: 95px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    color: white;
}

.footer__logoContainer svg {
    max-width: 118px;
    max-height: 64px;
}

.copyright {
    font-weight: 400;
    font-size: 0.833rem;
    line-height: 1.11em;
}

footer .logo {
    width: 40%;
    height: 40%;
}